<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Главная</a>
                </li>
                <li>
                    <a href="/blog">Блог</a>
                </li>
                <li>
                    <a href="/about">Обо мне</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="blog_post">
            <h1>My first post</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident incidunt voluptas molestias alias tempore id aliquid blanditiis optio perspiciatis? Tempora quis nostrum, autem consequatur pariatur omnis. Laboriosam rem officiis voluptatibus quaerat est.
            </p>
            <strong>2008-01-01</strong>
        </div>
        <div class="blog_post">
            <h1>My Seccond post</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident incidunt voluptas molestias alias tempore id aliquid blanditiis optio perspiciatis? Tempora quis nostrum, autem consequatur pariatur omnis. Laboriosam rem officiis voluptatibus quaerat est.
            </p>
            <strong>2008-01-01</strong>
        </div>
    </main>
</body>
</html>